<div class="card mt-3">
  <div class="card-header d-flex">
      Empleados
      <a (click)="agregar()" class="text-primary ml-auto">
        <i class="fa fa-plus-circle fa-2x"></i>
      </a>
  </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Email</th>
        <th> </th>
      </tr>
    </thead>
      
    <tbody>
      <tr *ngFor="let empleado of empleados, let i = index">
        <td (click)="seleccionar($event)"> {{ empleado.nombre }} </td>
        <td (click)="seleccionar(2)"> {{ empleado.cargo }} </td>
        <td (click)="seleccionar(2)"> {{ empleado.email }} </td>
        <td>
          <a (click)="eliminar(1)" class="text-danger ml-auto">
            <i class="fa fa-minus-circle fa-2x"></i>
          </a>
        </td>
      </tr>
    </tbody>

  </table>
