
<app-formulario
  [frmStatus]="frmStatus"
  [registro]="registro"
  (botonCancelar)="recibirCancelar($event)"
  (botonAceptar)="recibirAceptar($event)"
></app-formulario>

<div [hidden]="frmStatus != 'Consultar'" class="card mt-3">
  <div class="card-header d-flex">
      Empleados
      <a (click)="agregar()" class="text-primary ml-auto">
        <i class="fa fa-plus-circle fa-2x"></i>
      </a>
  </div>
</div>

<table [hidden]="frmStatus != 'Consultar'" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Email</th>
        <th> </th>
      </tr>
    </thead>
      
    <tbody>
      <tr *ngFor="let empleado of empleados | async">
        <td (click)="seleccionar(empleado)"> {{ empleado.nombre }} </td>
        <td (click)="seleccionar(empleado)"> {{ empleado.cargo }} </td>
        <td (click)="seleccionar(empleado)"> {{ empleado.email }} </td>
        <td>
          <a (click)="eliminar(empleado)" class="text-danger ml-auto">
            <i class="fa fa-minus-circle fa-2x"></i>
          </a>
        </td>
      </tr>
    </tbody>

  </table>

  <div class="sticky-top alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ frmStatus }}
  </div>
